a {
  text-decoration: none;
  transition: all 0.25s ease;
}
a:hover {
  color: #0784b5;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #0784b5;
}

.floating-item {
  display: inline-block;
  z-index: 0;
  /*   &#floating-item1 {
      background: linear-gradient(45deg, #3023AE 0%, #FF0099 100%);
      border-radius: 84% 16% 70% 30% / 30% 8% 92% 70%;
      width: 100px;
      height: 100px;
      animation: shakeY 10s ease-in-out .25s infinite;
      position: absolute;
      left: 70px;
    } */
}
.floating-item#floating-item1 {
  background: linear-gradient(45deg, #FF0099 0%, #3023AE 100%);
  border-radius: 82% 18% 82% 18%/53% 30% 70% 47%;
  width: 500px;
  height: 500px;
  animation: swing 10s ease-in-out 0.25s infinite;
  position: absolute;
  left: 70px;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.floating-item#floating-item2 {
  background: linear-gradient(45deg, #FF0099 0%, #3023AE 100%);
  border-radius: 82% 18% 82% 18%/53% 30% 70% 47%;
  width: 500px;
  height: 500px;
  animation: swing 10s ease-in-out 0.25s infinite;
  position: absolute;
  top: 700px;
  right: 70px;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.floating-item#floating-item3 {
  width: 75%;
  height: 75%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: #192428;
  font-weight: 500;
  transition: all 0.75s ease-in-out;
}

body.darkmode {
  background-color: #192428;
  color: #ffffff;
  transition: all 0.75s ease-in-out;
  font-weight: 400;
  /* Custom theme */
  /* End of custom theme */
}
body.darkmode h1,
body.darkmode h2,
body.darkmode h3,
body.darkmode h4,
body.darkmode h5 {
  color: #ffffff;
}
body.darkmode .floating-item#floating-item1, body.darkmode .floating-item#floating-item2 {
  opacity: 0.2;
}
body.darkmode #header .navbar-brand {
  color: #ffffff;
}
body.darkmode #header .nav-link {
  color: #ffffff;
}
body.darkmode #header .nav-link:hover {
  color: #39ace7;
  transition: all 0.5s ease-in-out;
}
body.darkmode .recent-card-bottom {
  color: #ffffff;
}
body.darkmode .recent-card-bottom i {
  color: #0784b5;
}
body.darkmode .footer .footer-social-links .nav-link {
  color: #ffffff;
}

#header {
  border-bottom: 2px solid #0784b5;
}
#header .navbar-brand {
  color: #192428;
}
#header .navbar-toggler {
  border: 0;
}
#header .navbar-toggler:focus, #header .navbar-toggler:active, #header .navbar-toggler:hover {
  box-shadow: none;
  border: none;
  color: #0784b5;
}
#header .nav-link {
  color: #192428;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (max-width: 576px) {
  #header .nav-link {
    padding-left: 1rem;
  }
}
#header .nav-link:hover {
  color: #0784b5;
  transition: all 0.5s ease-in-out;
}

.hero .hero-img {
  background: url("../img/me.jpg") center/cover;
  width: 200px;
  height: 200px;
  border-image: linear-gradient(#743ad5, #d53a9d) 30;
  border-width: 4px;
  border-style: solid;
}
.hero .hero-title span {
  color: #0784b5;
  font-size: 1rem;
}
.hero .hero-p {
  padding-left: 0.5rem;
  border-left: 3px solid #0784b5;
}

.recent .recent-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  padding: 1rem;
  border-image: linear-gradient(#743ad5, #d53a9d) 30;
  border-width: 4px;
  border-style: solid;
}
.recent .recent-card:hover {
  border-image: linear-gradient(#0784b5, #0784b5) 30;
  letter-spacing: inherit;
  transition: all 0.5s ease;
}
.recent .recent-card-bottom {
  color: #192428;
}
.recent .recent-card-bottom i {
  margin-right: 5px;
  color: #0784b5;
}
.recent .recent-link {
  color: #ffffff;
}
.recent .recent-link:hover {
  color: #0784b5;
  transition: all 0.5s ease-in-out;
}

.posts .posts-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  border-radius: 5px;
  border-image: linear-gradient(#743ad5, #d53a9d) 30;
  border-width: 4px;
  border-style: solid;
}
.posts .posts-card:hover {
  border-image: linear-gradient(#0784b5, #0784b5) 30;
  letter-spacing: inherit;
  transition: all 0.5s ease;
}
.posts .posts-card-bottom {
  color: #192428;
}
.posts .posts-card-bottom i {
  margin-right: 5px;
  color: #0784b5;
}
.posts .posts-link {
  color: #ffffff;
}
.posts .posts-link:hover {
  color: #0784b5;
  transition: all 0.5s ease-in-out;
}

.post .post-img {
  background: linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.95)), url(../img/post-bg.jpg) center/cover;
  padding: 0.75rem;
  min-height: 300px;
  border-image: linear-gradient(#743ad5, #d53a9d) 30;
  border-width: 4px;
  border-style: solid;
  display: flex;
  align-items: end;
}
@media screen and (max-width: 768px) {
  .post .post-img {
    min-height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .post .post-date {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .post .post-date, .post .post-date {
    font-size: 0.9rem;
  }
}

.footer {
  border-top: 2px solid #0784b5;
}
.footer .footer-copyright {
  padding: 0.5rem 0;
  margin-bottom: 0;
  font-size: 0.8rem;
}
.footer .footer-copyright span {
  color: #0784b5;
}
.footer .footer-social-links .nav-link {
  color: #192428;
  transition: all 0.5s ease-in-out;
  font-size: 1.2rem;
}
@media screen and (max-width: 576px) {
  .footer .footer-social-links .nav-link {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
  }
}
.footer .footer-social-links .nav-link:hover {
  color: #0784b5;
  transition: all 0.5s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
