// Darkmode

body.darkmode {
  background-color: $color-5;
  color: $text-color;
  transition: all .75s ease-in-out;
  font-weight: 400;

  /* Custom theme */

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $text-color;
  }

  .floating-item {
    &#floating-item1, &#floating-item2 {
      opacity: .2;
    }
  }

  #header {


    .navbar-brand {
      color: $text-color;
    }

    .nav-link {
      color: $text-color;

      &:hover, &.active {
        color: $color-1;
        transition: all .5s ease-in-out;
      }
    }
  }

  // Recent Posts
  .recent {
    &-card-bottom {
      color: $text-color;

      i {
        color: $primary;
      }
    }
  }

  // Posts
  .posts {
    &-card-bottom {
      color: $text-color;
    }
  }

  .footer {
    .footer-social-links {

      .nav-link {
        color: $text-color;
      }
    }
  }
  /* End of custom theme */
}