// Variables

$color-1 :#39ace7;
$color-2 :#0784b5;
$color-3 :#414c50;
$color-4 :#2d383c;
$color-5 :#192428;

$primary: $color-2;
$secondary: $color-4;
$text-color: #ffffff;

// BreakPoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;