// Main Stylesheet

// Imports
@import "variables";

a {
  text-decoration: none;
  transition: all .25s ease;
  &:hover {
    color: $primary;
    letter-spacing: 1px;
    //transition: all .25s ease;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $primary;
}

.btn-primary {
  background: lighten($primary, 10%);
}

.floating-item {
  display: inline-block;
  z-index: 0;

/*   &#floating-item1 {
    background: linear-gradient(45deg, #3023AE 0%, #FF0099 100%);
    border-radius: 84% 16% 70% 30% / 30% 8% 92% 70%;
    width: 100px;
    height: 100px;
    animation: shakeY 10s ease-in-out .25s infinite;
    position: absolute;
    left: 70px;
  } */

  &#floating-item1 {
    background: linear-gradient(45deg, #FF0099 0%, #3023AE 100%);
    border-radius: 82% 18% 82% 18% / 53% 30% 70% 47%  ;
    width: 500px;
    height: 500px;
    animation: swing 10s ease-in-out .25s infinite;
    position: absolute;
    left: 70px;
    opacity: .4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }

  &#floating-item2 {
    background: linear-gradient(45deg, #FF0099 0%, #3023AE 100%);
    border-radius: 82% 18% 82% 18% / 53% 30% 70% 47%  ;
    width: 500px;
    height: 500px;
    animation: swing 10s ease-in-out .25s infinite;
    position: absolute;
    top: 700px;
    right: 70px;
    opacity: .4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }

  &#floating-item3 {
    width: 75%;
    height: 75%; 
    //animation: swing 10s ease-in-out .25s infinite;
  }
}


body {
  margin: 0;
  padding: 0;
  background-color: $text-color;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: $color-5;
  font-weight: 500;
  transition: all .75s ease-in-out;
}

.section-title {
  i {
    color: lighten($primary, 10%);
  }
}


@import "darkmode";

// Header
#header {
  border-bottom: 2px solid $primary;

  .navbar-brand {
    color: $color-5;
  }

  .navbar-toggler {
    border: 0;

    &:focus,
    &:active,
    &:hover {
      box-shadow: none;
      border: none;
      color: $primary;
    }
  }

  .nav-item {}

  .nav-link {
    color: $color-5;
    padding-left: 1rem;
    padding-right: 1rem;

    @media screen and (max-width: $breakpoint-sm) {
      padding-left: 1rem;
    }

    &:hover, &.active {
      color: $primary;
      transition: all .5s ease-in-out;
    }
  }
}

// Hero
.hero {
  #{&}-img {
    background: url('../img/me.jpg') center / cover;
    width: 200px;
    height: 200px;
    border-image: linear-gradient(#743ad5, #d53a9d) 30;
    border-width: 4px;
    border-style: solid;
  }

  #{&}-title {

    span {
      color: $primary;
      font-size:  1rem;
    }
  }

  #{&}-p {
    padding-left: .5rem;
    border-left: 3px solid $primary;
  }

  #{&}-contact-p {
    a {
      color: $color-1;
    }
  }
}

// Recent Posts
.recent {
  #{&}-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    padding: 1rem;
    border-image: linear-gradient(#743ad5, #d53a9d) 30;
    border-width: 4px;
    border-style: solid;

    &:hover {
      border-image: linear-gradient($primary, $primary) 30;
      letter-spacing: inherit;
      transition: all .5s ease;
    }
  }

  #{&}-card-bottom {
    color: $color-5;
    word-spacing: -2px;

    i {
      margin-right: 5px;
      color: $primary;
    }
  }

  #{&}-link {
    color: $text-color;

    &:hover {
      color: $primary;
      transition: all .5s ease-in-out;
    }
  }
}

// Posts
.posts {
  #{&}-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    border-radius: 5px;
    border-image: linear-gradient(#743ad5, #d53a9d) 30;
    border-width: 4px;
    border-style: solid;

    h5 {
      font-weight: 500;
    }

    &:hover {
      border-image: linear-gradient($primary, $primary) 30;
      letter-spacing: inherit;
      transition: all .5s ease;

      h5 {
        color: $primary;
        transition: all .5s ease;
      }
    }
  }

  p {
    color: darken($text-color, 20%);
  }

  #{&}-card-bottom {
    color: $color-5;

    i {
      margin-right: 5px;
      color: $primary;
    }
  }

  #{&}-link {
    color: $text-color;

    &:hover {
      color: $primary;
      transition: all .5s ease-in-out;
    }
  }
}

// Post
.post {

  #{&}-img {
    background: linear-gradient(rgb(0 0 0 / 14%), rgb(0 0 0 / 95%)), url(../img/post-bg.jpg) center / cover;
    padding: .75rem;
    min-height: 300px;
    border-image: linear-gradient(#743ad5, #d53a9d) 30;
    border-width: 4px;
    border-style: solid;
    display: flex;
    align-items: end;

    @media screen and (max-width: $breakpoint-md) {
      min-height: 200px;
    }
  }

  #{&}-date {
    @media screen and (max-width: $breakpoint-md) {
      font-size: .9rem;
    }
  }

  #{&}-date, #{&}-date {
    @media screen and (max-width: $breakpoint-md) {
      font-size: .9rem;
    }
  }
}

// Footer
.footer {
  border-top: 2px solid $primary;

  #{&}-copyright {
    //color: $primary;
    padding: .5rem 0;
    margin-bottom: 0;
    font-size: .8rem;

    span {
      color: $primary;
    }
  }

  #{&}-social-links {

    .nav-link {
      color: $color-5;
      transition: all .5s ease-in-out;
      font-size: 1.2rem;

      @media screen and (max-width: $breakpoint-sm) {
        font-size: 1rem;
        padding: .5rem .75rem;
      }


      &:hover {
        color: $primary;
        transition: all .5s ease-in-out;
      }
    }
  }
}


// 404 Page
.not-found{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 600;
  }

  a {
    color: $text-color;
    background: $primary;

    &:hover {
      color: $text-color;
    }
  }
}
